body {
  background-color:  rgba(3, 25, 41, 2.0);
}
.content{
  height:100vh;
}

:host
{
  color: white;
}

div.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 2rem;
  background-color: antiquewhite;
  color:darkblue;
}