<body style="background-color:black;">
<h1 style="color:purple;font-family:Apple Chancery, cursive;text-align:center;font-size:50px">Sven van Heerde</h1>

<html>
<body>

<img
 src="https://media3.giphy.com/media/VI2UC13hwWin1MIfmi/giphy.gif?cid=ecf05e47vj93u5oh4o1pyqxql81y59gvmvezjcpsuidvifkg&rid=giphy.gif&ct=g;"
 style="width:320px;height:720x;vertical-align:middle;margin:0px 775px">

</body>
</html>
<h2 style="color:purple;font-family:Apple Chancery, cursive;text-align:left;margin:-150px 250px;font-size:30px">Informatie:</h2>
<p style="color:purple;font-family:Apple Chancery, cursive;text-align:left;margin:150px 250px;font-size:20px">- 18 jaar</p>
<p style="color:purple;font-family:Apple Chancery, cursive;text-align:left;margin:-150px 250px;font-size:20px">- 194 cm lang</p>


<h3 style="color:purple;font-family:Apple Chancery, cursive;text-align:center;margin:400px 770px;font-size:30px">Leerling van het Vlier</h3>


